.Banner{
    width: 95vw;
    height: 60vh;
    background-size:cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    margin: auto;
    text-align: center;
    padding: 0;
}

.jumboBlock{
    background-image:radial-gradient(
        rgba(255,255,255,0.1),
        rgba(255,255,255,0.25),
        rgba(255,255,255,0.3),
        rgba(255,255,255,0.25),
        rgba(255,255,255,0.1)
    ) ;
    height: 100%;
    width: 100%;
    padding: 12%;
    backdrop-filter: blur(1px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg{
    width: 400px;
    height: 400px;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}