.portfolio {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 20px auto;
  width: 300px;
  height: 300px;
  border-radius: 75px;
  transition: 1s box-shadow;
}

.portfolio:hover {
  box-shadow: 0 5px 35px 0px rgba(0,0,0,.1);
}

.portfolio:hover::before, .portfolio:hover::after {
  display: block;
  content: '';
  position: absolute;
  width: 300px;
  height: 300px;
  background: #FDA8CF;
  border-radius: 75px;
  z-index: -1;
  animation: 1s clockwise infinite;
}

.portfolio:hover:after {
  background: #F3CE5E;
  animation: 2s counterclockwise infinite;
}

@keyframes clockwise {
  0% {
    top: -5px;
    left: 0;
  }
  12% {
    top: -2px;
    left: 2px;
  }
  25% {
    top: 0;
    left: 5px;    
  }
  37% {
    top: 2px;
    left: 2px;
  }
  50% {
    top: 5px;
    left: 0;    
  }
  62% {
    top: 2px;
    left: -2px;
  }
  75% {
    top: 0;
    left: -5px;
  }
  87% {
    top: -2px;
    left: -2px;
  }
  100% {
    top: -5px;
    left: 0;    
  }
}

@keyframes counterclockwise {
  0% {
    top: -5px;
    right: 0;
  }
  12% {
    top: -2px;
    right: 2px;
  }
  25% {
    top: 0;
    right: 5px;    
  }
  37% {
    top: 2px;
    right: 2px;
  }
  50% {
    top: 5px;
    right: 0;    
  }
  62% {
    top: 2px;
    right: -2px;
  }
  75% {
    top: 0;
    right: -5px;
  }
  87% {
    top: -2px;
    right: -2px;
  }
  100% {
    top: -5px;
    right: 0;    
  }
}

.all {
  display: flex;
  perspective: 10px;
  transform: perspective(300px) rotateX(20deg);
  will-change: perspective;
  perspective-origin: center center;
  transition: all 1.3s ease-out;
  justify-content: center;
  transform-style: preserve-3d;
}

.all:hover {
  perspective: 1000px;
  transition: all 1.3s ease-in;
  transform: perspective(10000px) rotateX(0deg);
  .text {
    opacity: 1;
  }
  & > div {
    opacity: 1;
    transition-delay: 0s;
  }
}

.row{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5vh auto;
}

.text {
  transform: translateY(30px);
  transition: all .3s ease;
  bottom: 0;
  left: 5px;
  will-change: transform;
  text-shadow: 0 0 2px rgba(100, 100, 255, .4)
}

h3{
  position: relative;
  left: 50%;
}

.liveBtn{
  position: absolute;
  top: 15px;
  right: -90px;
}

.portImg{
  width: 250px;
  height: 250px;
}